body {
    background-color: #333;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    height: 80vh;
}

.rmLogo {
    width: 100%;
    text-align: center;
    background-color: #000;
}

h4 {
    font-family: 'Josefin Sans', sans-serif;
    color: #fff;
    font-weight: 700;
    font-size: 30px;
}

